openapi: "3.0.0"
info:
  title: Mapisto API
  version: "0.1"
servers:
  - url: https://api.mapisto.org
  - url: "http://localhost:8080"
  - url: "http://localhost:5000"
tags:
  - name: Map
    description: Load mapisto's maps
  - name: State
    description: "manage states data"
  - name: Territories
    description: "Read an manage territories' data"
  - name: Land
    description: "Get land coordinates to draw the map"
paths:
  /land:
    get:
      parameters:
        - name: precision_in_km
          in: query
          required: true
          description: The required precision, in kilometers
          schema:
            type: number
          example: 1.0
        - name: min_x
          in: query
          required: true
          description: The left x coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1.0
        - name: max_x
          in: query
          required: true
          description: The right x coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1000.0
        - name: min_y
          in: query
          required: true
          description: The top y coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1.0
        - name: max_y
          in: query
          required: true
          description: The bottom y coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1000.0
      tags:
        - Land
      summary: Returns all lands shapes on the world map
      responses:
        "200":
          description: All land shapes were returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LandShape'
    post:
      tags:
        - Land
      summary: "Add a land shape to the database" 
      requestBody:
        content:
          application/json:
            schema : 
              $ref: '#/components/schemas/LandShape'
      responses:
        "200":
          description: The land shape was correctly added

  /map:
    get:
      tags:
        - Map
      summary: Returns the state's maps
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1918-02-01T15:00:00Z"
        - name: precision_in_km
          in: query
          required: true
          description: The required precision, in kilometers
          schema:
            type: number
          example: 1.0
        - name: min_x
          in: query
          required: true
          description: The left x coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1.0
        - name: max_x
          in: query
          required: true
          description: The right x coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1000.0
        - name: min_y
          in: query
          required: true
          description: The top y coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1.0
        - name: max_y
          in: query
          required: true
          description: The bottom y coordinate of the viewbox in which the territories are requested
          schema:
            type: number
          example: 1000.0

      responses:
        "200":
          description: All states returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/State"
  /state:
    post:
      tags:
        - State
      summary: Add state information in the database for a given time perioed
      parameters:
        - name: validity_start
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: validity_end
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1919-01-01T00:00:00Z"
      requestBody:
        description: The State to add
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/State"
      responses:
        "200":
          description: State was correctly added
        "400":
          description: Bad Request
    put:
      tags:
        - State
      parameters:
        - name: validity_start
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: validity_end
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1919-01-01T00:00:00Z"
      summary : If a match (id, validity_start, validity_end) is found in db, changes the name of the state
      requestBody :
        description: The state to which the name can be modified
        required : true
        content :
          application/json:
            schema :
              $ref : "#/components/schemas/State"
      responses:
        "200" :
          description : "The state was modified"
        "404" : 
          description: tuple (state_id, validity_start, validity_end) not found

  /state/from_territory/{territory_id}:
    get:
      tags : 
        - State
      summary: Returns a state's information from a territory id
      parameters:
        - name : territory_id
          in : path
          required: true
          schema :
            $ref : "#/components/schemas/Territory/properties/territory_id"
          example : 1
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1918-02-01T15:00:00Z"
      responses:
        "200" :
          content:
            application/json :
              schema : 
                $ref : "#/components/schemas/State"
          description: State info retrieved
        "404" :
          description: Territory not found
  /state/{state_id}:
    get:
      tags : 
        - State
      summary: Returns a state's information at a certain time by its id, without its territories
      parameters:
        - name : state_id
          in : path
          required: true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 1
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: datetime
          example: "1918-02-01T15:00:00Z"
      responses:
        "200" :
          content:
            application/json :
              schema : 
                $ref : "#/components/schemas/State"
          description: State info retrieved
        "404" :
          description: Territory not found
  /state_search:
    get:
      tags : 
        - State
      summary: "
        Retrieves the states that match the pattern in parameter
        if a period is specified, get only the state which are valid during the whole period
      "
      parameters:
        - name : pattern
          in : query
          required: true
          schema :
            type : string
          example : "fra"
        - name: start
          in: query
          required: false
          schema:
            type: string
            format: datetime
          example: "1918-02-01T15:00:00Z"
        - name: end
          in: query
          required: false
          schema:
            type: string
            format: datetime
          example: "1918-02-01T15:00:00Z"
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : array
                items : 
                  $ref : "#/components/schemas/State"
          description: A list of state retrieved
  /state/{state_id}/concurrent_states:
    get:
      tags:
        - State
      summary: "
      Returns, for a state, represented by (state_id), and a possible extend period, all (state_id, state_names) which have a similar name
      Supposes every state has only 1 state representation
      "
      parameters :
        - name: state_id
          in : path
          description: The id of the state to be extended
          required : true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 1
        - name: newStart
          in: query
          required: true
          description: The start of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: newEnd
          in: query
          required: true
          description: The end of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1920-01-01T00:00:00Z"
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : array
                items : 
                  $ref : "#/components/schemas/State"
          description: A list of the state representations that will conflict or could be linked
        "404" :
          description: The state state_id was not found at the date date
  /state/{state_id}/extend:
    put:
      tags:
        - State
      summary: "
      Extends a state period to the new period provided
      Automatically merges it with the states which have the same name within the period. And remove them
      Also merges the state which are provided in parameter, and remove them
      "
      parameters :
        - name: state_id
          in : path
          description: The id of the state to extend
          required : true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 1
        - name: newStart
          in: query
          required: true
          description: The start of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: newEnd
          in: query
          required: true
          description: The end of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1920-01-01T00:00:00Z"
      requestBody :
        description: A list of states to be merged with the extended state
        content:
          application/json:
            schema :
              type: array
              items : 
                type : number
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : array
                items : 
                  $ref : "#/components/schemas/State"
          description: A list of the state representations that will conflict or could be linked
        "404" :
          description: The state state_id was not found within the period
        "400" : 
          description: "
          The period provided does not include the existing one. Cannot extend
          One of the states to be merged has a period not included in the provided period
          "
  /state/{state_id}/absorb/{to_be_absorbed}:
    put:
      tags:
        - State
      summary: "
      Merge to_be_absorbed state in state_id, reassign all territories
      "
      parameters :
        - name: state_id
          in : path
          description: The id of the state which whill contains to_be_absorbed
          required : true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 1
        - name: to_be_absorbed
          in : path
          description: The id of the state that will be absorbed
          required : true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 2
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : number
          description: The id of the merged state
        "404" :
          description: Either to_be_absorbed or state_id was not found
        "400" : 
          description: "
            to_be_absorbed has a validity period that lies outside of state_id validity period
          "

  /territory/{territory_id}/concurrent_territories:
    get:
      tags:
        - Territories
      summary: "
      Returns, for a territory, the coordinates of its supposed capited and a possible extend period, all territories across time which could conflict (i.e. lay on the capital)"
      parameters :
        - name: territory_id
          in : path
          description: The id of the state to be extended
          required : true
          schema :
            $ref : "#/components/schemas/Territory/properties/territory_id"
          example : 31
        - name: newStart
          in: query
          required: true
          description: The start of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: newEnd
          in: query
          required: true
          description: The end of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1923-01-01T00:00:00Z"
        - name : capital_x
          in: query
          required: true
          description : The X coordinate of the capital
          example : 1084
          schema :
            type: number
        - name : capital_y
          in: query
          required: true
          description : The Y coordinate of the capital
          example : 386
          schema :
            type: number
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : object
                properties:
                  to_be_merged :
                    type : array
                    items : 
                      $ref : "#/components/schemas/Territory"
                    description: A list of territories, without path data, which will have to be merged if the territory period is extended
                  conflicting_territory_start :
                    $ref : "#/components/schemas/Territory"
                  conflicting_territory_end :
                    $ref : "#/components/schemas/Territory"
          description : "The list of concurrent territories, and possible conclicts"
        "404" :
          description: The territory was not found at the date date
        "400" :
          description : The capital is not contained in the territory polygon 
  /territory/{territory_id}/extend:
    put:
      tags:
        - Territory
      summary: "
      Extends a territory period to the new period provided
      Removes the territories specified by their ids in the query
      "
      parameters :
        - name: territory_id
          in : path
          description: The id of the territory to extend
          required : true
          schema :
            $ref : "#/components/schemas/Territory/properties/territory_id"
          example : 1
        - name: newStart
          in: query
          required: true
          description: The start of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1918-01-01T00:00:00Z"
        - name: newEnd
          in: query
          required: true
          description: The end of the new period to consider
          schema:
            type: string
            format: datetime
          example: "1920-01-01T00:00:00Z"
      requestBody :
        description: A list of territory ids to be removed
        content:
          application/json:
            schema :
              type: array
              items : 
                $ref : "#/components/schemas/Territory/properties/territory_id"
      responses:
        "200" :
          content:
            application/json :
              schema : 
                $ref : "#/components/schemas/Territory"
          description: The updated territory
        "404" :
          description: One of the territories to extend or to remove was not found within the period
  /territory/{territory_id}/reassign_to/{state_id}:
    put:
      tags:
        - Territory
      summary: "
      Moves a territory from one state to another
      "
      parameters :
        - name: territory_id
          in : path
          description: The id of the territory to reassign
          required : true
          schema :
            $ref : "#/components/schemas/Territory/properties/territory_id"
          example : 1
        - name: state_id
          in : path
          description: The id of the state to give the territory to
          required : true
          schema :
            $ref : "#/components/schemas/State/properties/state_id"
          example : 1
      responses:
        "200" :
          content:
            application/json :
              schema : 
                type : number
          
          description: The updated territory id
        "404" :
          description: The territory or the state was not found
        "400":
          description : "The territory period lies outside of the state validity" 


components:
  schemas:
    State:
      type: object
      properties:
        state_id:
          type: integer
          example: 1
        validity_start:
          type: string
          format: datetime
          example: "1918-01-01T00:00:00Z"
        validity_end:
          type: string
          format: datetime
          example: "1919-01-01T00:00:00Z"
        name:
          type: string
          example: Austria-Hungary
        color:
          type: string
          example: "#FF0000"
        bounding_box:
          description: The bounding box for all of the state's territories
          $ref : "#/components/schemas/BoundingBox"
        territories:
          description: "List of territories included in the state"
          type: array
          items:
            $ref: "#components/schemas/Territory"
    Territory:
      description: "Representation of a territory belonging to a state"
      type: object
      properties:
        territory_id:
          type: integer
          example: 1
        d_path:
          type: string
          example: "M150 0 L75 200 L225 200 Z"
        validity_start:
          type: string
          format: datetime
          example: "1918-01-01T00:00:00Z"
        validity_end:
          type: string
          format: datetime
          example: "1919-01-01T00:00:00Z"
        bounding_box:
          description: The territory's bounding box
          $ref : "#/components/schemas/BoundingBox"

    LandShape:
      description: Representation of a land map 
      type: object
      properties:
        land_id:
          type : integer
          example: 1
        d_path:
          type: string
          example: "M400 0 L75 200 L225 200 Z"
    BoundingBox:
      description: A bounding box for the geometric shape in mapisto
      properties:
        x:
          type: integer
          example: 0
        y:
          type: integer
          example: 0
        width:
          type: integer
          example: 2000
        height:
          type: integer
          example: 1000